.color{
    display: flex;
    flex-direction: column ;
  background-color: aliceblue;
  height: 120px;
  border-radius: 0.5rem;
  width:180px;
  margin-left: 10px;
  align-items: center;
  margin-bottom: 10px;
  
  
  }
  
  .main{
    display:flex;
    margin-left: 10px;
    flex-wrap: wrap;
  }